
@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
	@apply bg-background-light  dark:bg-background-dark  min-h-screen ;
}
 body {
 	font-family: 'Work Sans', sans-serif;
 }

.TODO{
	border: 4px red dashed;
}
.card {
	@apply rounded-xl bg-white shadow-xl p-6;
}
.dark .card {
	@apply bg-card-dark;
}
.normal-btn {
	@apply px-4 py-2 rounded font-semibold  transition active:scale-95 bg-gray-200 hover:bg-gray-300 ;
}
.dark .normal-btn {
	@apply  bg-card-dark  hover:bg-gray-700
}
.input {
	@apply px-3 py-2 rounded-xl  border-2  text-black;
}
 .dark .input {
	@apply  text-white placeholder:text-gray-300;
}
.btn{
	@apply px-4 py-2 rounded-xl font-bold  text-white transition;
}
.enter_btn {
	@apply bg-green-500 hover:bg-green-600 text-white ;
}
.dark .enter_btn {
	@apply bg-green-700 hover:bg-green-800 text-white;
}
.enter_btn:disabled,
.enter_btn[disabled] {
	@apply bg-green-300 text-white opacity-60 cursor-not-allowed hover:bg-green-300;
}
.dark .enter_btn:disabled,
.dark .enter_btn[disabled] {
	@apply bg-green-900 text-white opacity-50 cursor-not-allowed hover:bg-green-900;
}

.cancel_btn {
	@apply bg-gray-400 hover:bg-gray-500 text-white ;
}
.dark .cancel_btn {
	@apply bg-gray-600 hover:bg-gray-700 text-white;
}
.heading {
	@apply   font-extrabold text-3xl;
}
.dark .heading {
	
}
.dark .mx-icon-calendar svg {
	fill: #fff !important;
}